.projects {
    padding-top: 90px
}

.projects-list {
    border-top: 1px solid var(--line)
}

.project-row {
    width: 100%;
    text-align: left;
    color: var(--black);
    display: grid;
    grid-template-columns: 75px 1fr auto;
    align-items: center;
    padding: 36px 0;
    border-bottom: 1px solid var(--line);
    transition: .3s;
    position: relative;
    overflow: hidden;
}

.project-row:hover,
.project-row:focus-visible {
    padding-left: 18px;
    background: rgba(0, 0, 0, .025)
}

.project-row small,
.project-row em {
    font: 10px var(--font-mono);
    font-style: normal
}

.project-row div {
    display: flex;
    flex-direction: column;
    gap: 9px
}

.project-row strong {
    font-size: clamp(42px, 5vw, 76px);
    font-weight: 500;
    letter-spacing: -.06em;
    display: inline-block;
    will-change: transform;
}

.project-row>span {
    font-size: 28px
}

.project-row:before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--black);
    transform: translateX(-101%);
    transition: transform .45s cubic-bezier(.2, .8, .2, 1);
    z-index: 0;
}

.project-row>* {
    position: relative;
    z-index: 1;
}

.project-row:hover:before,
.project-row:focus-visible:before {
    transform: translateX(0);
}

.project-row:hover,
.project-row:focus-visible {
    color: var(--white);
}

